
.home-container {
  position: relative;
  color: white;
  min-width: 100%;
  height: 100%;
  
 
}
.homeroot-container{
 background-color: #e0c4ba;
 min-height: 100vh;
}

.homeroot-container button:hover{
    background-color: brown;
}

.home-container h1,
.home-container p,
.home-container button {
  position: relative;
  z-index: 2;
}

@media (max-width:1040px) {
  .home-container{
    width: 100%;
    min-height: 100vh;
    margin-top: 70px;
  }
  
}
