.custom-navbar {
  background-color: #002b5c;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1050;
  background-color: #0a2540 !important;

}

.school-name {
  color: #FFD700; 
  font-weight: bold;
  font-size: 25px;
  font-family: sans-serif;
}

.navbar-nav .nav-link {
  color: #FFD700 !important; 
  font-size: 25px;
  font-family: sans-serif;
}

.navbar-nav .nav-link.active {
  color: #ffffff !important; 
}
.navbar{
    padding: 0.6rem 1rem;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
  /* position: sticky; */

}
