.error-nestedchail h1 {
    font-size: 70px;
    color: red;
}

.error-img img {
    width: 200px;
    height: 200px;
    border-radius: 0.8rem;
    background-color: #e4b6a5;
}
.error-container{
    min-height: 100vh;
    /* margin-top: 100px; */
    background-color: #e4b6a5;
}

.error-nestedchail{
     background-color: #f6f4f3;
     margin-top: 100px;
}
.error-info h5 {
    font-size: 30px;
    font-weight: 50px;
}
.error-info button:hover {
        background-color: rgb(20, 37, 185);
        transform: scale(1.05); 

    }
    .error-info button {
        background-color: brown;
        transform: scale(1.05); 

    }


@media (max-width:800px) {
    .error-childcontainer {
        width: 100%;
    }

    .error-img img {
        width: auto;
        height: 90px;
        padding: 2px;
        /* border: 2px solid red; */

    }

    .error-img {
        /* border: 1px solid red; */
        padding: 1px;
        text-align: center;
    }

    .error-nestedchail {
        width: 100%;
        display: flex;
        /* border: 1px solid green; */
    }

    .error-information {
        width: 100vw;
        display: flex;
        /* justify-content: start; */
        /* border: 1px solid green; */
        /* align-items: start; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* gap: 10px; */
    }

    .error-info h5 {
        font-size: 15px;
        /* border: 1px solid red; */
        font-weight: 50px;
        width: 100%;

    }

    .error-nestedchail h1 {
        font-size: 40px;
    }

    .error-info button {
        height: 40px;

    }

}